# Analysis of Aviation Accidents with NTSB Reports

## Project Objectives

-To understand the process of aviation accident reporting.

-To analyze patterns in aviation accidents based on preliminary and final reports.

-To identify common probable causes of aviation accidents.

-To visualize trends and draw insights from historical data.

## Business Understanding *

Despite advancements in safety regulations and aviation technology, aviation accidents continue to occur. They often have significant human, economic and regulatory consequences. The National Transportation and Safety Board (NTSB) provides detailed reports for aviation accidents, but the completeness and availability of the data may vary  accross time and cases.

This project aims to analyze aviation accident data reported by NTSB to:
- Identify the trends and patterns over time.
- Identify the most common probable causes of the aviation accidents.
- Compare preliminary vs. final reports to access how factual data evolves.
- Highlight potential gaps in the reporting process, particularly for cases prior to 1993 or where NTSB is not the lead investigator.

The goal of this project is to support data driven recommendations in order to improve aviation safety, transparency and timeliness of accident investigations.

## Introduction

Brief overview of aviation accident reporting.

Role of the NTSB.

Importance of timely and detailed reporting.

## Methodology

**Data Source**

Our data source was provided by NTSB showing the aviation accidents

In [1]:
# Importing the various libraries that will be used in the data analysis and visualization of our project

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Importing the report from NTSB 'AviationData.csv'

df = pd.read_csv('AviationData.csv', encoding='ISO-8859-1')

# Print the number of rows and columns in df for an overview of the data
print(df.shape)

# Print the first five rows of df to get an insight of our data
df.head()

(88889, 31)

C:\Users\USER\AppData\Local\Temp\ipykernel_29748\347356198.py:3: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AviationData.csv', encoding='ISO-8859-1')

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [25]:
# Checking the last 5 rows of our DataFrame to see if it's structured all the way through

df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [26]:
# Checking the columns in our Dataframe in order to understand what we are working with and know what columns to reference

print(df.columns)

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [27]:
# Checking information of our data to see the rows, columns, datatypes and rows that might have missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

Based on the above info, we have rows with a lot of missing values such as Latitude, Longitude, Aircraft code, Aircraft Name, Aircraft Category, FAR Description, Schedule,Air Carrier and Publication Date. We will therefore have to clean this data in order for us to get a more accurate analysis.

## Data Cleaning

In [ ]:
# To see the missing values per column in order to determine the relevant columns
df.isnull().sum().sort_values(ascending=False)

Schedule                  76307
Air.carrier               72241
FAR.Description           56866
Aircraft.Category         56602
Longitude                 54516
Latitude                  54507
Airport.Code              38757
Airport.Name              36185
Broad.phase.of.flight     27165
Publication.Date          13771
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Registration.Number        1382
Injury.Severity            1000
Country                     226
Amateur.Built               102
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Event.Date                    0
Accident.Number               0
Event.Id                      0
dtype: int64

In [30]:
# Check percentage of missing values
missing_percent = df.isnull().mean() * 100
print(missing_percent.sort_values(ascending=False))

Schedule                  85.845268
Air.carrier               81.271023
FAR.Description           63.974170
Aircraft.Category         63.677170
Longitude                 61.330423
Latitude                  61.320298
Airport.Code              43.601570
Airport.Name              40.708074
Broad.phase.of.flight     30.560587
Publication.Date          15.492356
Total.Serious.Injuries    14.073732
Total.Minor.Injuries      13.424608
Total.Fatal.Injuries      12.826109
Engine.Type                7.982990
Report.Status              7.181991
Purpose.of.flight          6.965991
Number.of.Engines          6.844491
Total.Uninjured            6.650992
Weather.Condition          5.053494
Aircraft.damage            3.593246
Registration.Number        1.554748
Injury.Severity            1.124999
Country                    0.254250
Amateur.Built              0.114750
Model                      0.103500
Make                       0.070875
Location                   0.058500
Investigation.Type         0.000000
Event.Date                 0.000000
Accident.Number            0.000000
Event.Id                   0.000000
dtype: float64

Based on the above information, some of the columns have too many missing values that could skew the data, therefore we will have to eliminate them in order to get a more accurate analysis without filtering out too much data.

## Filtering Data to relevant columns

In [ ]:
# Based on the above, we have 31 columns and we need to work with the relevant columns

#Relevant_columns = ['Aircraft.damage','Accident.Number','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Event.Date','Purpose.of.flight','Make','Model','Engine.Type','Injury.Severity']
#df = df[Relevant_columns]
#df

,Aircraft.damage,Accident.Number,Total.Fatal.Injuries,Event.Date,Purpose.of.flight,Make,Model,Engine.Type,Injury.Severity
0,Destroyed,SEA87LA080,2.0,1948-10-24,Personal,Stinson,108-3,Reciprocating,Fatal(2)
1,Destroyed,LAX94LA336,4.0,1962-07-19,Personal,Piper,PA24-180,Reciprocating,Fatal(4)
2,Destroyed,NYC07LA005,3.0,1974-08-30,Personal,Cessna,172M,Reciprocating,Fatal(3)
3,Destroyed,LAX96LA321,2.0,1977-06-19,Personal,Rockwell,112,Reciprocating,Fatal(2)
4,Destroyed,CHI79FA064,1.0,1979-08-02,Personal,Cessna,501,NaN,Fatal(1)
...,...,...,...,...,...,...,...,...,...
88884,NaN,ERA23LA093,0.0,2022-12-26,Personal,PIPER,PA-28-151,NaN,Minor
88885,NaN,ERA23LA095,0.0,2022-12-26,NaN,BELLANCA,7ECA,NaN,NaN
88886,Substantial,WPR23LA075,0.0,2022-12-26,Personal,AMERICAN CHAMPION AIRCRAFT,8GCBC,NaN,Non-Fatal
88887,NaN,WPR23LA076,0.0,2022-12-26,Personal,CESSNA,210N,NaN,NaN
88888,NaN,ERA23LA097,0.0,2022-12-29,Personal,PIPER,PA-24-260,NaN,Minor

# Data Cleaning

## Filling in the missing values for the relevant columns

In order to get a better representation of the data, we will proceed to fill in the missing values for the columns; 'Total Fatal Injuries', 'Total Serious Injuries', 'Total Minor Injuries'.

In [ ]:
# Fill injury values with 0 where missing (to assume there was no injury for blank rows)
injury_cols = ['Total Fatal Injuries', 'Total Serious Injuries', 'Total Minor Injuries']
df[injury_cols] = df[injury_cols].fillna(0)

In [ ]:
# Replace missing categorical data with 'Unknown'
df['Aircraft.damage'] = df['Aircraft.damage'].fillna('Unknown')
df['Make'] = df['Make'].fillna('Unknown')
df['Model'] = df['Model'].fillna('Unknown')
df['Injury.Severity'] = df['Injury.Severity'].fillna('Unknown')
df['Engine.Type'] = df['Engine.Type'].fillna('Unknown')

In [ ]:
# Checking if the cleaning worked
print(df.isnull().sum())

# Confirm data types
print(df.dtypes)

## Summary Statistics

Having chosen the relevant columns to use for our analysis, we will proceed to get the statistics of the aviation accidents that have occured over the years.

In [ ]:
# Getting the summary statistics
df.describe()